/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━  WEIGHTS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// 300 • Light
@font-face
    font-family: 'Titillium Web'
    font-weight: 300
    font-style: normal
    src: url(source + 'titillium_web/Light.woff2') format('woff2')

// 400 • Normal
@font-face
    font-family: 'Titillium Web'
    font-weight: normal
    font-style: normal
    src: url(source + 'titillium_web/Regular.woff2') format('woff2')

// 400 • Normal Italic
@font-face
    font-family: 'Titillium Web'
    font-weight: normal
    font-style: italic
    src: url(source + 'titillium_web/Italic.woff2') format('woff2')

// 600 • Semi-Bold
@font-face
    font-family: 'Titillium Web'
    font-weight: 600
    font-style: normal
    src: url(source + 'titillium_web/SemiBold.woff2') format('woff2')

// 700 • Bold
@font-face
    font-family: 'Titillium Web'
    font-weight: bold
    font-style: normal
    src: url(source + 'titillium_web/Bold.woff2') format('woff2')
