section(class="component" id="1")

    header

        h3: span 1
        dl.inline
            div
                dt Type
                dd primary
            div.comma
                dt Tags
                dd landing
                dd homepage
                dd mobile
                dd menu

    h4 Preview

    +iframe("headers/1")

    h4 Implementation

    section.implement

        .explain

            .routine

                h5 Markup

                table
                    caption
                        | header-1(
                        i url
                        |,&nbsp;
                        i icon
                        |,&nbsp;
                        i h1
                        |,&nbsp;
                        i nav
                        |,&nbsp;
                        i [hook]
                        |)

                    thead
                        tr
                            th Parameter
                            th Definition
                            th Type
                    tbody
                        tr
                            td.parameter url
                            td.definition URL: homepage
                            td.type string
                        tr
                            td.parameter icon
                            td.definition SVG: symbol
                            td.type string
                        tr
                            td.parameter h1
                            td.definition heading: global
                            td.type string
                        tr
                            td.parameter nav
                            td.definition anchors: navigation
                            td.type array, object
                        tr
                            td.parameter id
                            td.definition attribute: id
                            td.type string

            .brief

                h5 Brief
                p.
                    A primary header with navigation support. The menu has two modes for desktop
                    (expanded &amp; compact) and one for mobile. The #[code icon] parameter accepts
                    an SVG symbol fragment by default.

        .explain

            .paths

                h5 Paths

                ul
                    li location:&nbsp; #[code components/headers/1]
                    li activate:&nbsp; #[code templates/_/mixins.pug]
                    li markup:&nbsp; #[code templates/_/body.pug]
                    li style:&nbsp; #[code style/_/elements/header.styl]

            .dependencies

                h5 Dependencies

                ul
                    li.pug
                        svg: use(xlink:href="/assets/images/sprite/symbols.svg#html")
                        span _.pug
                    li.styl
                        svg: use(xlink:href="/assets/images/sprite/symbols.svg#css")
                        span index.styl
                    li.svg
                        svg: use(xlink:href="/assets/images/sprite/symbols.svg#svg")
                        span *.svg
                    li.js
                        svg: use(xlink:href="/assets/images/sprite/symbols.svg#js")
                        span _.js

        h5 Examples

        .explain.code

            .pug

                pre
                    code.language-pug.

                        extends ../root

                        block body

                            body

                                block header

                                    +header-1("/#front", "logo", "Heading", [
                                        {
                                            href: "/lorem/",
                                            name: "Lorem"
                                        },
                                        {
                                            href: "/quidem/",
                                            name: "Quidem"
                                        },
                                        //...
                                    ])

                                block main
                                    //...

                aside .pug

        .explain.code

            .styl

                pre

                    code.language-stylus.

                        header-1()

                aside header.styl

        .explain.code

            .js

                pre

                    code.language-javascript.

                        import header from 'headers/1/_';

                aside root.js
