extends ../../../../../_/preview

block body

    body

        +header-1("#", "header-1-logo", "Heading", [
            {
                href: "#",
                name: "Lorem"
            },
            {
                href: "#",
                name: "Quidem"
            },
            {
                href: "#",
                name: "Inquit"
            },
            {
                href: "#",
                name: "Ipsum"
            },
            {
                href: "#",
                name: "Philosophus"
            }
        ])
