//- collect header-2 arguments for central management
-
    var args = {
        url: '/#front',
        icon: 'logo',
        h1: 'Platframe',
        crumbs: [
            {
                href: "/",
                name: "Home"
            },
            {
                href: "/docs/",
                name: "Docs"
            },
            {
                href: "/docs/components/",
                name: "Components"
            }
        ],
        nav: false,
        hook: 'themed'
    }