+nav-2([
    { 
        href: "/docs/components/banners/",
        name: "Banners" 
    },
    { 
        href: "/docs/components/footers/",
        name: "Footers" 
    },
    { 
        href: "/docs/components/forms/",
        name: "Forms" 
    },
    { 
        href: "/docs/components/headers/",
        name: "Headers" 
    },       
    { 
        href: "/docs/components/navigation/",
        name: "Navigation" 
    }
])
