section(id="contribute" class="contribute")

    h2 Contribute

    p.
        See the project's #[a(href="//github.com/platframe/platframe#contributing") GitHub page] for
        more on contributing.
