section(id="fonts" class="fonts")

    h2 Fonts

    .explain.code

        .fonts.map

            pre
                code.

                    #[i.i-emoji-folder] fonts ─┐
                              ├─ #[i.i-emoji-folder] font-1 ─┐
                              |             ├─ #[i.i-emoji-letters] black.woff
                              |             ├─ #[i.i-emoji-letters] bold.woff
                              |             ├─ #[i.i-emoji-letters] light.woff
                              |             └─ #[i.i-emoji-letters] regular.woff
                              |
                              └─ #[i.i-emoji-folder] font-2

            aside structure #[b 7.1]

    p.
        Fonts are contained in the #[code.folder fonts] folder and managed from the
        #[em fonts] module in #[code.folder style]. By default the platform is
        setup to work with a typography
        #[abbr(title="Content Delivery Network") CDN] in production. This means
        that the #[em local] type assets contained in #[code.folder fonts] are to
        be included for development purposes only and are not transferred to the
        production build. This avoids potential connectivity issues that slows
        down development.

    p.
        Font stacks are managed through the configuration files in the
        #[code.folder stacks] module within #[code.folder styles]. Production builds
        use #[a(href="https://fonts.google.com/") Google&trade; Fonts] as the
        default font delivery service, and can be managed with
        #[code.file head.pug]

    p.
        #[a(href="https://fonts.adobe.com/fonts/source-sans") Source&reg; Sans Pro]
        is the default font since version 2.
