+nav-2([
    {
        href: "#start",
        name: "Get started"
    },
    {
        href: "#architecture",
        name: "Architecture"
    },
    {
        href: "#templates",
        name: "Templates"
    },
    {
        href: "#styles",
        name: "Styles"
    },
    {
        href: "#logic",
        name: "Logic"
    },
    {
        href: "#images",
        name: "Images"
    },
    {
        href: "#fonts",
        name: "Fonts"
    },
    {
        href: "/docs/components/",
        name: "Components"
    },
    {
        href: "#contribute",
        name: "Contribute"
    },
    {
        href: "https://v1.platframe.com",
        name: "Version 1"
    }
])
