section(id="start" class="start")

    h2 Get started

    h4#install Install

    p.requirements.
        #[b 1.&nbsp;] You'll need
        #[span(title="≥ v8") Node.js] and
        #[span(title="≥ v5.2") NPM] or #[span Yarn]

    div.install-options
        b 2.
        div
            p #[span &#10137;]&nbsp; #[code.shell npx degit platframe/new my-app]
            p #[span &#10137;]&nbsp; or #[a(href=`https://github.com/platframe/platframe/archive/v${ process.env.npm_package_version_platframe }.zip`) download] the latest release

    p #[b 3.&nbsp;] #[code.shell cd my-app && git init && yarn]

    h4#develop Develop

    p.
        Spin up a development environment with&nbsp; #[code.shell yarn start]
        #[br]
        By default, the auto-sync development server runs at&nbsp; #[code localhost:3003]

    h4#test Test

    p.
        Run your test suite with&nbsp; #[code.shell yarn test]
        #[br]
        Produce and serve a production build for inspection:&nbsp; #[code.shell yarn preflight]

    h4#deploy Deploy

    p.
        For an optimized, production-targeted build:&nbsp; #[code.shell yarn production]
        #[br]
        More complex deployment logic can be run with&nbsp; #[code.shell yarn deploy]
