section(id="start" class="start")

    h2 Get started

    h4 Install

    p.
        #[b 1.&nbsp;] You'll need
        #[span(title="≥ v8") Node.js] and 
        #[span(title="≥ v5.2") NPM] or Yarn

    div.install-options
        b 2.
        div
            p #[span ⓐ]&nbsp; #[code npx degit platframe/new my-app]
            p #[span ⓑ]&nbsp; or #[a(href=`https://github.com/platframe/platframe/archive/v${ process.env.npm_package_version_platframe }.zip`) download] the latest release

    p #[b 3.&nbsp;] #[code cd my-app && git init && yarn]

    h4 Develop

    p Spin up a development environment with&nbsp; #[code yarn start]
    p By default, the auto-sync development server runs at&nbsp; #[code localhost:3003]

    h4 Test
    
    Run your test suit with&nbsp; #[code yarn test]

    p Produce and serve a production build for local inspection:&nbsp; #[code yarn preflight]

    h4 Deploy

    p For an optimized, production-targeted build:&nbsp; #[code yarn production]
    p Deployment logic can be run with:&nbsp; #[code yarn deploy]
