section(class="component" id="2")

    header

        h3: span 2
        dl.inline
            div
                dt Type
                dd secondary
            div.comma
                dt Tags
                dd sectional
                dd breadcrumbs
                dd menu

    h4 Preview

    +iframe("headers/2")

    h4 Implementation

    section.implement

        .explain

            .routine

                h5 Markup

                table
                    caption.signature
                        | header-2(
                        i url
                        |,&nbsp;
                        i icon
                        |,&nbsp;
                        i h1
                        |,&nbsp;
                        i h2
                        |,&nbsp;
                        i [breadcrumbs]
                        |,&nbsp;
                        i [hook]
                        |)

                    thead
                        tr
                            th Parameter
                            th Definition
                            th Type
                    tbody
                        tr
                            td.parameter url
                            td.definition URL: homepage
                            td.type string
                        tr
                            td.parameter icon
                            td.definition SVG: fragment
                            td.type string
                        tr
                            td.parameter h1
                            td.definition heading: global
                            td.type string
                        tr
                            td.parameter h2
                            td.definition heading: section
                            td.type string
                        tr
                            td.parameter breadcrumbs
                            td.definition breadcrumbs
                            td.type array, object
                        tr
                            td.parameter hook
                            td.definition attribute: class
                            td.type string

            .brief

                h5 Brief
                p.
                    A 2#[sup nd]-level header designed to be used as a stand-alone, primary header for nested pages.
                    Pass an arbitrary class to the style #[code hook] parameter should greater specificity be required.

        .explain

            .paths

                h5 Paths

                ul
                    li location:&nbsp; #[code components/headers/2]
                    li activate:&nbsp; #[code templates/_/mixins.pug]

            .dependencies

                h5 Dependencies

                ul
                    li.pug
                        svg: use(xlink:href="/assets/images/_sprites/symbols.svg#html")
                        span _.pug
                    li.styl
                        svg: use(xlink:href="/assets/images/_sprites/symbols.svg#css")
                        span index.styl
                    li.svg
                        svg: use(xlink:href="/assets/images/_sprites/symbols.svg#svg")
                        span *.svg

        h5 Example

        .explain.code

            .pug

                pre
                    code.language-pug.

                        extends body

                        block context
                            //...

                        block header

                            +header-2('/#front', 'logo', 'Heading', 'Heading 2', [
                                {
                                    href: "/",
                                    name: "Home"
                                },
                                {
                                    href: "/about/",
                                    name: "About"
                                },
                                //...
                            ])

                        block main
                            //...

                aside .pug

        .explain.code

            .styl

                pre

                    code.language-stylus.

                        header-2()

                aside .styl
