extends ../../../../../_/preview

block body

    body

        div(class="content")

            +header-2('#', 'header-2-logo', 'Heading', 'Heading 2', [
                {
                    href: "#",
                    name: "Crumb 1"
                },
                {
                    href: "#",
                    name: "Crumb 2"
                },
                {
                    href: "#",
                    name: "Crumb 3"
                }
            ])
