extends ../../../../../_/preview

block body

    body#nav-2

        +nav-2([
            {
                href: "#2",
                name: "Lorem"
            },
            {
                href: "#2",
                name: "Ipsum"
            },
            {
                href: "#2",
                name: "Consectetur"
            },
            {
                href: "#2",
                name: "Eiusmod"
            }
        ])
