extends ../../../../_/body

//- variables
block context
    - 
        bodyId = 'docs';
        bodyClass = 'docs components category banners';
        pageTitle = 'Components - Banners | Platframe';

//- header
block header

    //- assets
    include ../_/data

    +header-2(args.url, args.icon, args.h1, 'Banners', args.crumbs, args.nav, args.hook)

//- body
block main

    main(role="main")

        div(class="content")
            
            include _1

        include ../_/nav-2_cmpnt
