prism(scheme = __default)
    code[class*="language-"]
    pre[class*="language-"]
        // generic
        tab-size: 4
        hyphens: none
        .doctype
            font-style: italic
            color: scheme.syntax.doctype
        .keyword
            color: scheme.syntax.keyword
        .variable
            color: scheme.syntax.variable
        .constant
            color: scheme.syntax.constant
        .class-name
            color: scheme.syntax.class
        .func
        .mixin
            color: scheme.syntax.variable
        .mixin .number
        .mixin .operator
        .function
        .function-name
            color: scheme.syntax.function
        .mixin .boolean
        .function .boolean
            color: scheme.syntax.keyword
        .string
        .plain-text
            color: scheme.syntax.string
        .tag
        .selector
            color: scheme.syntax.element
        .attr-name
        .attr-value
            color: scheme.syntax.attribute
        .property
            color: scheme.syntax.property
        .number
            color: scheme.syntax.number
        .url
            color: scheme.syntax.path
        .comment
        .block-comment
            color: scheme.syntax.comment
        .property-declaration
        .property-declaration .hexcode
            color: scheme.syntax.variable
        .atrule-declaration
        .atrule-declaration .number
            color: scheme.syntax.function
        .atrule
            color: scheme.syntax.keyword
        .entity
            cursor: help
        .inserted
            color: green
        .regex
            color: scheme.syntax.regexp
        .prolog
        .cdata
            color: pink
        .operator
            color: scheme.syntax.operator
        .punctuation
            color: scheme.syntax.punctuation
        .bold
            font-weight: bold
        .italic
            font-style: italic
    // Pug
    .language-pug
        .token
            &.plain-text
                color: scheme.syntax.default
            &.mixin .function.name
            &.mixin .number
            &.mixin .operator
                color: scheme.syntax.element
            &.tag
            &.selector
                color: scheme.syntax.element
            &.attributes .keyword
            &.attributes .attr-name
            &.attributes .attr-value
                color: scheme.syntax.attribute
            &.attributes .punctuation
            &.attributes .operator
                color: scheme.syntax.punctuation
    // Stylus
    .language-stylus
        .token
            &.function
                color: scheme.syntax.function
            &.tag
                color: scheme.syntax.element
            &.selector
                color: scheme.syntax.class
            &.operator
                color: scheme.syntax.punctuation
            &.hexcode
                color: scheme.syntax.class