code-1(scheme = __default)
    // fetch syntax plugin
    prism(scheme)
    .explain.code
        margin-bottom: rem(10px)
        div
            width: 100%
            position: relative
            margin-bottom: rem(15px)
            background: scheme.syntax.background
            overflow: auto
            pre
                display: flex
                align-items: center
                padding: rem(30px) 0 rem(30px) rem(30px)
                background: @background
                +max(3)
                    min-width: rem(700px)
                code
                    color: scheme.syntax.default
                    line-height: 1.4
                    background: inherit
            aside
                display: none
                position: absolute
                top: 0
                right: 0
                min-width: rem(45px)
                min-height: rem(45px)
                justify-content: center
                align-items: center
                font-size: .9rem
                color: rgba(255,255,255,.65)
                padding: 4px rem(15px) 5px
                background: rgba(255,255,255,.1)
                b
                    color: @color
                    font-weight: 600
                    background: transparent
                    &::before
                        content: '\00A0\00A0\2759\00A0\00A0'
                        color: scheme.syntax.background
                +min(2)
                    display: inline-flex
            .comment
                color: scheme.syntax.comment
            i { font-style: normal }
    { block }
