extends ../_/body

//- variables
block context
    - bodyId = 'home';
    - bodyClass = 'home';

//- body
block main

    main(role="main")

        include _/front
        include _/gist
        include _/features
        include _/stack
