extends ../../../../../_/preview

block body

    body.center

        +gallery-1({
            series: "preview",
            path: `https://picsum.photos/id/`,
            type: "webp",
            images: [
                { caption: 'This is image caption 1' },
                { caption: 'This is image caption 2' },
                { caption: 'This is image caption 3' },
                { caption: 'This is image caption 4' },
                { caption: 'This is image caption 5' },
                { caption: 'This is image caption 6' },
                { caption: 'This is image caption 7' },
                { caption: 'This is image caption 8' },
                { caption: 'This is image caption 9' },
                { caption: 'This is image caption 10' },
                { caption: 'This is image caption 11' },
                { caption: 'This is image caption 12' },
            ]
        })
