extends ../../../../../_/preview

block body

    body

        +header-3('#', 'header-3-logo', 'Heading', [
            {
                href: "#",
                name: "Lorem"
            },
            {
                href: "#",
                name: "Quidem"
            },
            {
                href: "#",
                name: "Inquit"
            }
        ])
