extends ../../../../../_/preview

block body

    body#nav-1

        #previous-view.canvas

            .content

                h4 Section I
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean cursus tellus eget ipsum porttitor, et tincidunt tellus faucibus. Mauris ultrices semper volutpat. Proin cursus hendrerit volutpat. Nam suscipit risus porta sodales porta. Morbi urna arcu, cursus eget mauris eget, finibus tempor mauris. Vestibulum vulputate, nulla vitae ultricies scelerisque, augue risus sodales dui, et interdum nunc diam eu leo. Quisque non neque at diam aliquam imperdiet nec nec dui. Vivamus laoreet ornare leo, vel imperdiet nibh luctus vel.

            +nav-1("next-view")

        #next-view.canvas

            .content

                h4 Section II
                p Nam consectetur convallis sagittis. Integer at tellus quis est lacinia gravida. Sed pulvinar, ligula quis interdum ullamcorper, est arcu sagittis felis, eget ornare erat dui at mi. Duis quis mi sagittis, malesuada odio et, iaculis neque. Suspendisse ultricies sit amet nisi a rutrum. Cras dapibus enim sed nibh pharetra vestibulum. Vivamus feugiat lorem sed tortor varius imperdiet. Morbi vitae mi sapien. Maecenas sit amet massa urna.
                p Vestibulum faucibus ex molestie, suscipit nisl ac, porttitor felis. Curabitur posuere posuere diam quis feugiat. Nulla in ultricies orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean quis mollis urna, in laoreet quam.

            +nav-1("previous-view", "prev")
