extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            //- modified for internal use: Algolia search
            +header-1("/#front", "logo", "Platframe", [
                {
                    href: "/#gist",
                    name: "Gist"
                },
                {
                    href: "/#features",
                    name: "Features"
                },
                {
                    href: "/#stack",
                    name: "Stack"
                },
                {
                    href: "/docs/",
                    name: "Docs"
                }
            ], false, true)

        block main

        block footer

            include ../../components/footers/1/_

        //- document-level end-of-body script insertion
        block inject

        //- global end-of-body script: Algolia search
        script(src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js")
        script.
            docsearch({
                apiKey: 'fa3fa010344f4919d694124c52644186',
                indexName: 'platframe',
                inputSelector: '#search',
                debug: false // inspect dropdown
            });

        //- compatibility
        noscript: a(href="https://browsersmart.com") Please use a compatible browser and enable JavaScript
