head

    meta(charset="utf-8")

    block description
        meta(name="description" content="Platframe is a web development platform that provide a resilient foundation and an accelerated workflow. It offers a scalable architecture, template and tooling, as well as a more generic and interchangeable recipe for reusable components.")

    block keywords
        meta(name="keywords" content="platform, structured, frontend, framework, pug, stylus, javascript")

    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=0.5")
    meta(name="generator" content="Platframe")

    title= pageTitle || "Platframe | Web & Frontend Development Platform"

    block links
        - if (ENV === 'production')
            link(rel="preload" href="https://fonts.gstatic.com/s/titilliumweb/v6/r9OmwyQxrgzUAhaLET_KO86gOKNGPbHY3c2d_06TbvM.woff2" as="font" crossorigin)
            link(rel="preload" href="https://fonts.gstatic.com/s/titilliumweb/v6/r9OmwyQxrgzUAhaLET_KO6qVnG43xFTRN40gwdrG-aE.woff2" as="font" crossorigin)
            link(rel="preload" href="https://fonts.gstatic.com/s/titilliumweb/v6/anMUvcNT0H1YN4FII8wpr9INifKjd1RJ3NxxEi9Cy2w.woff2" as="font" crossorigin)
            link(rel="preload" href="https://fonts.gstatic.com/s/titilliumweb/v6/anMUvcNT0H1YN4FII8wpr4-67659ICLY8bMrYhtePPA.woff2" as="font" crossorigin)
            link(rel="preload" href="https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTcSo_WB_cotcEMUw1LsIE8mM.woff2" as="font" crossorigin)
            link(rel="preload" href="https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2" as="font" crossorigin)
            link(rel="preload" href="https://fonts.gstatic.com/s/titilliumweb/v6/anMUvcNT0H1YN4FII8wpr_SNRT0fZ5CX-AqRkMYgJJo.woff2" as="font" crossorigin)
            link(rel="preload" href="https://fonts.gstatic.com/s/titilliumweb/v6/anMUvcNT0H1YN4FII8wpr46gJz9aNFrmnwBdd69aqzY.woff2" as="font" crossorigin)
            link(rel="preload" href="https://fonts.gstatic.com/s/titilliumweb/v6/anMUvcNT0H1YN4FII8wpr-y7CP8YvcHYdGV61pt7QTE.woff2" as="font" crossorigin)
            link(rel="preload" href="https://fonts.gstatic.com/s/titilliumweb/v6/anMUvcNT0H1YN4FII8wprxP6Eu1_xfSBSoi9uie1FdE.woff2" as="font" crossorigin)
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,600,700&display=swap")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css")
        link(rel="stylesheet" href=`/assets/styles/root.css?v=${ TIME }`)
        link(rel="icon" href="/assets/images/global/_link/favicon.png?v=2")
        link(rel="prefetch" href="/docs/index.html")

    block scripts
        script(defer src=`/assets/logic/js/root.js?v=${ TIME }`)
        - if (ENV === 'production')
            script(async src="https://www.googletagmanager.com/gtag/js?id=UA-112418634-1")
            script.
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-112418634-1');
