section(class="component" id="1")

    header

        h3: span 1
        dl.inline
            div
                dt Type
                dd body
            div.comma
                dt Tags
                dd scroll
                dd move
                dd view
                dd local

    h4 Preview

    section.preview
        .scroll

            .canvas#id-1
                h5 Section 1
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                +nav-1("next")

            .canvas#id-2
                h5 Section 2
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                +nav-1("prev")

    h4 Implementation

    section.implement

        .explain

            .routine

                h5 Markup

                table
                    caption
                        | nav-1(
                        i direction
                        |,
                        i [icon]
                        |)

                    thead
                        tr
                            th Parameter
                            th Definition
                            th Description
                            th Type
                    tbody
                        tr
                            td.parameter direction
                            td.definition scroll direction
                            td.description either "next" or "prev"
                            td.type string
                        tr
                            td.parameter icon
                            td.definition SVG: fragment
                            td.description change default button image
                            td.type string

            .brief

                h5 Brief
                p.
                    Button to trigger animated scrolling between sibling sections of a page.
                    Contains 2 default global SVG symbols: #[code nav-1-fill] and
                    #[code nav-1-stroke] for inversed color. The 2#[sup nd] parameter may be used to
                    switch between the images or supply your own.

        .explain

            .paths

                h5 Paths

                ul
                    li location:&nbsp; #[code components/navigation/1]
                    li activate:&nbsp; #[code templates/_/mixins.pug]

            .dependencies

                h5 Dependencies

                ul
                    li.pug
                        svg: use(xlink:href="/assets/images/sprite/symbols.svg#html")
                        span _.pug
                    li.styl
                        svg: use(xlink:href="/assets/images/sprite/symbols.svg#css")
                        span index.styl
                    li.svg
                        svg: use(xlink:href="/assets/images/sprite/symbols.svg#svg")
                        span *.svg
                    li.js
                        svg: use(xlink:href="/assets/images/sprite/symbols.svg#js")
                        span _.js

        h5 Examples

        .explain.code

            .pug

                pre
                    code.language-pug.

                        .canvas
                            // content...
                            +nav-1("next")

                        .canvas
                            // content...
                            +nav-1("prev", "nav-1-stroke")

                aside .pug

        .explain.code

            .styl

                pre

                    code.language-stylus.

                        nav-1()

                aside .styl

        .explain.code

            .js

                pre

                    code.language-javascript.

                        import nav from 'navigation/1/_';

                aside root.js
