/// ━━━━━━━━━━━━ DEFAULTS

// default
__light_default           = #444

// elements
__light_heading           = #4c4c4c
__light_paragraph         = __light_default
__light_list              = __light_default
__light_code              = __light_heading
__light_vector            = _75

// properties
__light_border            = _85
__light_background        = _100

// states
__light_link              = #0E77D7
__light_visited           = __light_link
__light_hover             = __light_link
__light_active            = __light_hover
__light_focus             = __light_hover

/// ━━━━━━━━━━━━ SCOPES

// navigation
__light_nav_default       = __light_default
__light_nav_vector        = __light_vector
__light_nav_background    = __light_background
// ⚓
__light_nav_link          = __light_link
__light_nav_visited       = __light_nav_link
__light_nav_hover         = __light_default
__light_nav_active        = __light_nav_hover
__light_nav_focus         = __light_nav_hover

// header
__light_header_default    = __light_heading
__light_header_vector     = __light_heading
__light_header_background = __light_background
// ⚓
__light_header_link       = __light_header_default
__light_header_visited    = __light_header_link
__light_header_hover      = _60
__light_header_active     = __light_header_hover
__light_header_focus      = __light_header_hover

// footer
__light_footer_default    = _50
__light_footer_vector     = __light_footer_default
__light_footer_background = _90
// ⚓
__light_footer_link       = __light_footer_default
__light_footer_visited    = __light_footer_link
__light_footer_hover      = _30
__light_footer_active     = __light_footer_hover
__light_footer_focus      = __light_footer_hover

// syntax
__light_syntax_default     = lighten(#7F848E, 50%)
__light_syntax_punctuation = __light_syntax_default
__light_syntax_keyword     = #C678DD
__light_syntax_operator    = #C678DD
__light_syntax_variable    = #E06C75
__light_syntax_constant    = #E5C07B
__light_syntax_class       = #D19A66
__light_syntax_element     = #E06C75
__light_syntax_function    = #61AFEF
__light_syntax_property    = __light_syntax_default
__light_syntax_attribute   = #D19A66
__light_syntax_string      = #98C379
__light_syntax_number      = #D19A66
__light_syntax_path        = #98C379
__light_syntax_regexp      = #56B6C2
__light_syntax_doctype     = #7F848E
__light_syntax_comment     = #7F848E
__light_syntax_background  = #282C34
