&.headers main
    [id="1"]
        +header-1(light)
            color-anchors(target: header) // not passing the scheme argument, default is correct
            width: 80% // == .scroll
            position: sticky
            top: 0
            z-index: 1
            div
                +min(2)
                    width: 100%
                    min-width: 0
                +min(3)
                    width: 100%
                    min-width: 0
    [id="2"]
        +header-2(light)
            color-anchors(target: header)
            position: sticky
            width: 100%
            top: 0
            z-index: 1
            .core
                +min(3)
                    width: b1_content_width
                    min-width: auto
        .pseudo div
            margin: rem(65px) 0 0
