&.navigation main
    [id="1"]
        .preview
            .scroll
                .canvas
                    min-height: 350px
                    padding: rem(20px) rem(50px) 0
                    align-items: flex-start
                    align-content: flex-start
                    justify-content: flex-start
                    nav-1(light)
    [id="2"]
        .preview
            +min(2)
                flex-direction: column
                justify-content: space-between
            .scroll
                width: 80%
                margin: auto
                padding-top: rem(20px)
                +min(2)
                    width: 60%
                    margin: initial
                .pseudo h5
                    margin-bottom: 0
            +nav-2(light)
                color-anchors(target: nav)
                +min(2)
                    position: sticky
                    top: 0
                    flex: 1
                    order: 0
                +min(3)
                    position: sticky
                    width: rem(260px)
                    ul
                        position: initial
                        top: 0
                        height: auto
