// docs theme continued: component section styles
&.components
    &.index // exclusively target component home page
        +nav-2(docs_scheme)
            +min(2)
                li:nth-of-type(3)::after
                    content: ''
                    display: block
                    width: rem(190px)
                    margin-bottom: rem(16px)
                    padding-bottom: rem(16px)
                    border-bottom: 1px solid _15
                    box-shadow: 0 1px 0 _25
            +min(3)
                position: sticky
                top: rem(103px)
                width: auto
                order: 0
                ul
                    position: sticky
                    top: rem(125px)
                    height: 86vh
    &.category // exclusively target component category pages
        b3_component_category_main_width = 72% // provision more space for component examples
        +header-2(docs_scheme)
            position: static
            +min(2)
                position: fixed
            .core
                +min(3)
                    width: b3_component_category_main_width
                    min-width: docs_b3_c_x_min
        main
            +min(2)
                width: b3_component_category_main_width
            .content
                padding-top: rem(42px)
                +min(3)
                    width: 83%
            .component // has unique component id
                width: 100%
                margin: auto
                margin-bottom: rem(45px)
                &:last-of-type
                    margin-bottom: rem(100px)
                > header
                    display: flex
                    width: 100%
                    align-items: center
                    justify-content: flex-start
                    h3 // TODO: refactor to expand dynamically for more than 1 digit
                        margin: 0
                        padding: 0
                        font-size: 2.2rem
                        span
                            display: flex
                            justify-content: center
                            align-items: center
                            size(rem(50px))
                            border: 1px solid nebula.border
                    dl
                        padding-left: 1.5rem
                .preview
                    position: relative
                    display: flex
                    flex-flow: row wrap
                    justify-content: center
                    min-height: rem(300px)
                    max-height: rem(340px)
                    margin-bottom: rem(40px)
                    overflow: auto
                    background: white
                    .scroll // if overflow and scroll required
                        position: relative
                        width: 100%
                        min-height: rem(500px)
                        display: flex
                        flex-flow: row wrap
                        justify-content: center
                        align-content: flex-start
                        .pseudo // content simulation
                            size(b1_content_width, 100%)
                            display: flex
                            flex-direction: column
                            padding: 0 0 80px
                            div
                                flex: 1
                                width: 100%
                                display: flex
                                align-items: flex-start
                                justify-content: center
                                border: 1px solid _90
                                background: _95
                                span
                                    color: _85
                                    font-size: 8vw
                                    margin: rem(80px) 0 0
                .implement
                    h5
                        margin-top: 0
                        font-size: 1.2rem
                        font-weight: 600
                    ol, ul
                        margin: 0
                        padding: 0
                        list-style: none
                    .explain // 1 row, 2 faux columns
                        display: flex
                        flex-flow: row wrap
                        margin-bottom: rem(10px)
                        +min(1)
                            margin: rem(22px) 0
                        &:nth-of-type(2)
                            +min(1)
                                margin-top: rem(30px)
                        .routine
                            width: 100%
                            margin-top: rem(8px)
                            margin-bottom: rem(28px)
                            +min(1)
                                width: 65%
                                margin-top: 0
                                margin-bottom: 0
                                padding-right: rem(25px)
                            table
                                width: 100%
                                border-collapse: collapse
                                caption
                                    font-family: monospaced
                                    background: _25
                                    i
                                        font-style: normal
                                        font-weight: 600
                                        text-shadow: -1px -1px 0 _15
                                thead th
                                    padding-top: rem(20px)
                                    text-align: left
                                tbody
                                    tr
                                        &:nth-of-type(odd)
                                            background: _25
                                        td
                                            padding: rem(5px) 0 rem(5px) rem(5px)
                                            &.parameter
                                                font-weight: 600
                                                font-family: monospaced
                                                text-shadow: -1px -1px 0 _15
                                            &.type
                                                font-style: italic
                        .paths
                            width: 100%
                            margin-bottom: rem(20px)
                            +min(1)
                                width: 65%
                                margin-bottom: 0
                            li
                                color: _60
                                margin: .2rem 0
                        .dependencies
                            margin-bottom: rem(20px)
                            +min(1)
                                margin-bottom: 0
                            li
                                color: _60
                                align-items: center
                                margin: .2rem 0
                                padding-right: 10px
                                svg
                                    fill: _60
                                    padding-right: 4px
                                    width: rem(16px)
                                    height: rem(16px)
                                    margin-bottom: -3px
                                span:before
                                    content: '\00a0'
                                &.pug svg  { fill: _markup_icon }
                                &.styl svg { fill: _style_icon  }
                                &.svg svg  { fill: _image_icon  }
                                &.js svg   { fill: _js_icon     }
                        .brief

                            p:first-of-type
                                margin-top: -(rem(3px)) // account for line-height
                        div:nth-of-type(2) // 2nd "column" fills available space
                            +min(1)
                                flex: 1
                                padding-left: rem(25px)
                                border-left: 1px solid nebula.border
    // partials
    @require '_*'
