//- default mixins

include iframe
include analytics

//- component mixins

include ../../../components/forms/1/_
include ../../../components/banners/1/_
include ../../../components/headers/1/_
include ../../../components/headers/2/_
include ../../../components/headers/3/_
include ../../../components/carousels/1/_
include ../../../components/galleries/1/_
include ../../../components/navigation/1/_
include ../../../components/navigation/2/_
