footer(class="footer-1" role="complementary" itemscope itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li
                    a(href="/") Home
                li
                    a(href="/docs/") Documentation
                li
                    a(href="/docs/components/") Components

        div

            h2 Browser Support

            ul

                li.rollover
                    svg: use(xlink:href="/assets/images/sprite/symbols.svg#firefox")
                    span Firefox #[br]28+
                li.rollover
                    svg: use(xlink:href="/assets/images/sprite/symbols.svg#chrome")
                    span Chrome #[br]29+
                li.rollover
                    svg: use(xlink:href="/assets/images/sprite/symbols.svg#safari")
                    span Safari #[br]9+
                li.rollover
                    svg: use(xlink:href="/assets/images/sprite/symbols.svg#opera")
                    span Opera #[br]17+
                li.rollover
                    svg: use(xlink:href="/assets/images/sprite/symbols.svg#ie")
                    span Edge/IE #[br]10+

        div
            //- modified structure: replaced <table> with <ul>
            ul

                li
                    a(href="//github.com/platframe/platframe/blob/master/LICENSE") MIT Licensed
                li Supported by 
                    a(href="//cygnul.com" translate="no") Cygnul
                li Created by 
                    a(href="//gidhon.com" rel="author" title="Gideon Kreitzer" translate="no") Gideon
