footer(class="footer-1" role="complementary" itemscope itemtype="https://schema.org/WPFooter")

    div

        div

            ul
                li
                    a(href="https://github.com/platframe/platframe") GitHub
                li
                    a(href="https://v1.platframe.com") Version 1

        div

            h2 Browser Support

            ul

                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#firefox")
                    span Firefox #[br]28+
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#chrome")
                    span Chrome #[br]29+
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#safari")
                    span Safari #[br]9+
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#opera")
                    span Opera #[br]17+
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#ie")
                    span Edge/IE #[br]10+

        div
            //- modified structure: replaced <table> with <ul>
            ul

                li
                    a(href="//github.com/platframe/platframe/blob/master/LICENSE") MIT Licensed
                li Supported by&nbsp;
                    a(href="//cygnul.com" translate="no") Cygnul
