.front
    .content
        flex-flow: row wrap
        justify-content: center
        +min(2)
            margin-top: -20px
            justify-content: initial
        h2
            position: relative
            font-size: 3.6rem
            font-weight: 300
            letter-spacing: -3px
            margin-bottom: 0
            text-align: center
            line-height: 1.1
            +min(1)
                font-size: 6rem
                line-height: inherit
            +min(2)
                text-align: initial
                font-size: 7rem
                margin: 0 0 0.2vw -0.4rem
            +min(3)
                font-size: 7.5rem
        .call
            width: 100%
            p
                font-size: 1.6rem
                font-weight: 300
                margin: 1.5rem 0 2rem
                text-align: center
                +min(1)
                    font-size: 1.8rem
                +min(2)
                    font-size: 1.95rem
                    margin: 0 0 2.5rem
                    text-align: initial
                +min(3)
                    font-size: 2.1rem
                    margin: 0 0 2.8rem
        .action
            display: flex
            flex-flow: column wrap
            align-items: center
            width: 100%
            justify-content: center
            +min(1)
                flex-flow: row wrap
            +min(2)
                justify-content: initial
            a
                button(color: tomato, fontsize: 1.1rem)
                padding: rem(17px) rem(27px)
                +max(1)
                    &:last-of-type
                        margin-top: rem(15px)
                +min(1)
                    font-size: 1.2rem
                    &:first-of-type
                        margin-right: rem(12px)
                +min(2)
                    font-size: 1.25rem
                    margin-right: rem(12px)
                    padding: rem(18px) rem(42px)
                +min(3)
                    font-size: 1.32rem
                    padding: rem(18px) rem(32px)
    nav-1()
    +banner-1()
        bottom: 32px
        right: -65px
        +min(1)
            bottom: 42px
            right: -56px
