section(class="canvas features" id="features")

    h2 Features

    div(class="content")

        div

            img(src="../../images/home/_inline/features/scalable.svg" inline)

            article

                h2 Scalable
                p.
                    The architecture is designed to facilitate growth. Follow the recipe for structuring your frontend assets and scale seamlessly.

        div

            img(src="../../images/home/_inline/features/modular.svg" inline)

            article

                h2 Modular
                p.
                    Markup, styles and scripts are modular. Reusable functionality is encapsulated, easing development and maintenance.

        div

            img(src="../../images/home/_inline/features/performant.svg" inline)

            article

                h2 Fast
                p.
                    Platframe aims to increase efficiency in both development and production. Hit the ground running with a nimble platform.

        div

            img(src="../../images/home/_inline/features/adaptable.svg" inline)

            article

                h2 Adaptable
                p.
                    With a modular architecture and minimal prescription, choose the amount of framework that best suit your needs.

    +nav-1("stack")
