section(class="canvas features" id="features")

    h2 Features

    div(class="content")

        div

            svg(viewBox="0 0 100 100" role="presentation")
                path(d="M50 0L38.355 20.17h1.215L50 2.01l10.43 18.16h1.215z" fill="tomato")
                path(d="M49.5 20.166v79.829h1V20.166z" fill="#737373")

            article

                h2 Scalable
                p.
                    The architecture is designed to facilitate growth. Follow the recipe for
                    structuring your frontend assets and scale seamlessly.

        div

            svg(viewBox="0 0 100 100" role="presentation")
                path(d="M45.8 0v37.506H33.798V62.5H45.8V100h1V61.502c-3.997-.004-8.004-.002-12.004-.002V38.504H46.8V0z" fill="#737373")
                path(d="M65.203 26.557v11.972c-3.994.008-8.003.006-12.004.006v22.918h12.004v11.895h1V60.455c-3.997-.004-8.003-.004-12.004-.004V39.535h12.004V26.557z" fill="tomato")

            article

                h2 Modular
                p.
                    Markup, styles and scripts are modular. Reusable functionality is encapsulated,
                    easing development and maintenance.

        div

            svg(viewBox="0 0 100 100" role="presentation")
                path(d="M74.98 30.092L49.35 99.654l.937.346 25.627-69.55-.934-.358zM11.871 45.936c-.25.066-.091.028-.25.066L0 52.711l.5.867 11.506-6.642H49v-1H11.871zm76.113 0v1h.01L99.5 53.578l.5-.867-11.621-6.709c-.123-.042-.124-.039-.25-.066h-.145z" fill="#737373")
                path(d="M51 45.936v1h16.244l.469-1zm20.707 0l-.399 1h14.676v-1z" fill="tomato")

            article

                h2 Fast
                p.
                    Platframe aims to increase efficiency in both development and production. Hit
                    the ground running with a nimble platform.

        div

            svg(viewBox="0 0 100 100" role="presentation")
                path(d="M66 52.53v6.384H0v1h66v6.387h1V52.529zm3.639 6.384v1H100v-1z" fill="#737373")
                path(d="M0 33.7v7.27h1V33.7zm33 0v7.27h1V33.7zm33 0v7.27h1V33.7zm33 0v7.27h1V33.7z" fill="tomato")

            article

                h2 Adaptable
                p.
                    With a modular architecture and minimal prescription, choose the amount of
                    framework that best suit your needs.

    +nav-1("next", "nav-1-stroke")
