section(class="canvas front" id="front")

    div(class="content")

        h2 Platframe

        .call

            p Structured, scalable and modular frontend platform.

        .action

            a(href="#gist") Get the gist
            a(href="/docs/") Read the docs

    - bannerText = "v" + process.env.npm_package_version_platframe
    
    +nav-1("next", "nav-1-stroke")
    +banner-1("//github.com/platframe/platframe", bannerText)
