section(class="canvas front" id="front")

    div(class="content")

        h2 Platframe

        .call

            h3 Structured, scalable and modular Frontend Development Platform.
            h4
                | Whether it's bespoke development,
                | building a
                |
                a(href="https://jamstack.org/") JAMstack
                |
                | app, or making it your blog's
                |
                abbr(title="Static Site Generator") SSG
                |,
                | Platframe lays a resilient foundation.

        .action

            a(href="#gist") Gist
            a(href="/docs/") Documentation

    - bannerText = process.env.npm_package_version_platframe

    +nav-1("gist")
    +banner-1("//github.com/platframe/platframe", bannerText, "images/home/_inline/front/github.svg")
