section(class="canvas gist" id="gist")

    h2 Gist

    div(class="content")

        .gist-left

            article

                h3 Foundation

                div
                    img(src="../../images/home/_inline/gist/foundation.svg" inline)

                    p.
                        Build your frontend or static project on a foundation that is designed to scale. Markup, style and logic are organized in a modular, extensible manner. Resources are structured, resulting in a tree-like file hierarchy that speeds up development through inheritance.

            article

                h3 Workflow

                div
                    img(src="../../images/home/_inline/gist/workflow.svg" inline)

                    p.
                        Platframe ships with a pre-configured build system, allowing you to focus on development while it takes care of the menial tasks. Provision a development server with live-reload, crank out a build that's optimized for production or extend its configuration to your needs.

        .gist-right

            article

                h3 Reuse

                div
                    img(src="../../images/home/_inline/gist/reuse.svg" inline)

                    p.
                        Bundle your project's common functionality according to the component recipe. Let's cover the implementation steps of a typical component. We'll activate #[a(href="/docs/components/navigation/") nav-1]:

                h4 Include the markup

                .explain.code

                    .pug

                        pre
                            code.language-pug.

                                +nav-1()

                        aside .pug

                h4 Activate the styles

                .explain.code

                    .styl

                        pre

                            code.language-stylus.

                                nav-1()

                        aside .styl

                h4 Call the logic

                .explain.code

                    .js

                        pre

                            code.language-javascript.

                                import nav from 'navigation/1/_';

                        aside .js

    +nav-1("features")
