section(class="canvas stack" id="stack")

    h2 Stack

    div(class="content")

        div
            figure
                img(src="../../images/home/_inline/stack/pug.svg" inline)

            article

                h3 Pug
                p Define document structure with #[a(href="https://pugjs.org") #[i Pug]], a performant template engine with #[abbr(title="JavaScript") JS] support and a flexible syntax allowing for terse, modular #[abbr(title="HyperText Markup Language") HTML].

        div
            figure
                img(src="../../images/home/_inline/stack/stylus.svg" inline)

            article

                    h3 Stylus
                    p Use <a href="http://stylus-lang.com/"><i>Stylus</i></a> for presentation - A #[abbr(title="Cascading Style Sheets") CSS] superset with unique syntactic flexibility and programmatic features for powerful abstractions.

        div
            figure
                img(src="../../images/home/_inline/stack/babel.svg" inline)

            article

                h3 Babel
                p Baked-in #[a(href="https://babeljs.io") #[i Babel]] support allows you to write next generation JavaScript today, allowing for better, more future-proof code.

        div
            figure
                img(src="../../images/home/_inline/stack/rollup.svg" inline)

            article

                h3 Rollup
                p Encapsulate discrete functionality with native JavaScript modules and #[a(href="https://rollupjs.org") #[i Rollup]] will produce an optimized, production-ready bundle.

        div
            figure
                img(src="../../images/home/_inline/stack/gulp.svg" inline)

            article

                h3 Gulp
                p Workflow automation is handled by <a href="https://gulpjs.com/"><i>Gulp</i></a>. Hit the ground running with the default configuration and modify it as you go.

        div
            figure
                img(src="../../images/home/_inline/stack/svg.svg" inline)

            article

                h3 SVG
                p Take advantage of support for #[abbr(title="Scalable Vector Graphics") SVG] sprites. Choose between a #[em symbol] or a #[em view]-based sprite workflow, or use them side-by-side.

    +nav-1({ target: "front", direction: "prev" })
